<template>
  <require from="nav-bar"></require>
  <require from="bootstrap/css/bootstrap.css"></require>

  <nav-bar router.bind="router"></nav-bar>

  <div class="page-host">
    <router-view swap-order="after"></router-view>
  </div>
</template>
