﻿<template>
    <div class="container">
        <div class="row">
            <div class="center-form panel col-md-6">
                <div class="panel-body">
                    <h2 class="text-center">Log in</h2>
                    <form method="post" name="loginForm">
                        <div class="form-group has-feedback">
                            <input class="form-control input-lg" type="text" name="email" value.bind="email" placeholder="Email" required autofocus>
                            <span class="ion-at form-control-feedback"></span>
                        </div>

                        <div class="form-group has-feedback">
                            <input class="form-control input-lg" type="password" name="password" value.bind="password" placeholder="Password" required>
                            <span class="ion-key form-control-feedback"></span>
                        </div>

                        <button type="submit" click.delegate="login()" class="btn btn-lg  btn-block btn-success">Log in</button>

                        <br />

                        <!-- <p class="text-center">
                            <a href="#">Forgot your password?</a>
                        </p> -->

                        <p class="text-center text-muted">
                            <small>Don't have an account yet? <a href="/#/register">Register</a></small>
                        </p>
                    </form>

                    <!-- <div class="signup-or-separator">
                        <h6 class="text">or</h6>
                        <hr>
                    </div>
                    <button class="btn btn-block btn-facebook" click.delegate="authenticate('identSrv', true)">
                        <i class="ion-social-facebook"></i> Sign in with IdentityServer
                    </button>
                    <button class="btn btn-block btn-facebook" click.delegate="authenticate('facebook', true)">
                        <i class="ion-social-facebook"></i> Sign in with Facebook
                    </button>
                    <button class="btn btn-block btn-google-plus" click.delegate="authenticate('google', true)">
                        <span class="ion-social-googleplus"></span>Sign in with Google
                    </button>
                    <button class="btn btn-block btn-linkedin" click.delegate="authenticate('linkedin', true)">
                        <i class="ion-social-linkedin"></i> Sign in with LinkedIn
                    </button>
                    <button class="btn btn-block btn-twitter" click.delegate="authenticate('twitter', true)">
                        <i class="ion-social-twitter"></i> Sign in with Twitter
                    </button>
                    <button class="btn btn-block btn-foursquare" click.delegate="authenticate('foursquare')">
                      <i class="fa fa-foursquare"></i> Sign in with Foursquare
                    </button>
                    <button class="btn btn-block btn-github" click.delegate="authenticate('github')">
                      <i class="ion-social-github"></i> Sign in with GitHub
                    </button>
                    <button class="btn btn-block btn-yahoo" click.delegate="authenticate('yahoo')">
                      <i class="ion-social-yahoo"></i> Sign in with Yahoo
                    </button>
                    <button class="btn btn-block btn-live" click.delegate="authenticate('live')">
                      <i class="ion-social-windows"></i> Sign in with Windows Live
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</template>