<template bindable="router">
    <nav class="navbar navbar-light bg-faded" role="navigation">
        <a class="navbar-brand" href="#">
            <i class="fa fa-home"></i>
            <span>${router.title}</span>
        </a>
        <ul class="nav navbar-nav">
            <li repeat.for="row of router.navigation | authFilter: isAuthenticated" class="nav-item ${row.isActive ? 'active' : ''}">
                <a class="nav-link" href.bind="row.href">${row.title}</a>
            </li>
        </ul>

        <ul if.bind="!isAuthenticated" class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="/#/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/#/register">Register</a></li>
        </ul>

        <ul if.bind="isAuthenticated" class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="/#/logout">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="loader nav-item" if.bind="router.isNavigating">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </li>
        </ul>
    </nav>
</template>