<template>
  <section class="au-animate">
    <h2>${heading}</h2>
    <div class="row au-stagger">
      <div class="col-sm-6 col-md-3 card-container au-animate" repeat.for="user of users">
        <div class="card">
          <div class="content">
            <p class="name">${user.email}</p>
              <p class="name">${user.roles}</p>
            <p><a target="_blank" class="btn btn-default" href="mailto:${user.email}">Contact</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>